<app-layout>
  <div class="jumbotron">
    <h1>Temperatures by Location</h1>
  </div>

  <app-locations></app-locations>

  <table class="table table-hover">
    <thead>
    <th>Code</th>
    <th>City</th>
    <th>Temperature</th>
    <th>temperature Limit</th>
    <th>Time measured</th>
    <th>Exceeds</th>
    </thead>
    <tbody>
    <tr *ngFor="let city of temperatureList">
      <td>{{city.code}}</td>
      <td>{{city.city}}</td>
      <td>{{city.temperature}}</td>
      <td>{{city.limit}}</td>
      <td>{{city.date}}</td>
      <td [ngStyle]="{'background-color': getColor(this.city.exceed)}">{{city.exceed}}</td>
    </tr>
    </tbody>
  </table>
</app-layout>

